.botao-enviar, .sobre-botao {
	float: right;
	width: 120px;
	height: 40px;
	background-color: #d8a52b;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.sobre-botao {
	display: inline-block;
	float: none;
	line-height: 40px;
	margin-right: 10px;
	font-size: 20px;
	width: auto;
	padding: 0 20px;

	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

input:-moz-placeholder {
	color: #333;
}

input::-moz-placeholder {
	color: #333;
}

input:-ms-input-placeholder {
	color: #333;
}

input::-webkit-input-placeholder {
	color: #333;
}

select {
	color: #333;
}

.content_form{
	position: relative;
	// margin-bottom: 145px;

	.form_cliente{
		label{
			width: 100%;
		}

		.parceiro-tipo {
			width: auto;
			padding-right: 20px;
			cursor: pointer;
		}

		input{
			width: 100%;
			border-left: 3px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-top: 3px solid #cccccc;
			border-bottom: 1px solid #cccccc;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			height: 40px;
			background-color: #fff;
			padding: 5px;

			&.radio{
				display: inline-block;
			    width: 12px;
			    line-height: 11px;
			    height: 15px;
			    margin: 0 10px;
			}
		}

		select{
			width: 100%;
			border-left: 3px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-top: 3px solid #cccccc;
			border-bottom: 1px solid #cccccc;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			height: 40px;
			background-color: #fff;
		}

		textarea{
			width: 100%;
			height: 265px;
			border-left: 3px solid #cccccc;
			border-right: 1px solid #cccccc;
			border-top: 3px solid #cccccc;
			border-bottom: 1px solid #cccccc;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}

		#enviar{
			@extend .botao-enviar;
		}
	}

}