*{
	list-style: none;
}

body{
	font-family: 'Abel', Arial, sans-serif;
}

.banner {
	&-desktop {
		display: block;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&-mobile {
		display: none;

		@media screen and (max-width: 767px) {
			display: block;
		}
	}
}

.breadcrumb{
	background-color: transparent;
	text-align: left;

	ul{
		padding: 0;

		li{
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			color: #293666;

			@media screen and (max-width: 767px) {
				font-size: 11px;
			}

			a{
				color: #6f6f6f;
			}
		}

	}
}

.header-title {
	text-indent: -9999em;
	margin: 0;
	height: 183px;
	width: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-position: top center;

	@media screen and (max-width: 767px) {
		margin-top: 20px;
		background-size: cover;
	}

	@media screen and (min-width: 376px) and (max-width: 414px) { //iphone 6 plus
		height: 85px;
	}

	@media screen and (min-width: 321px) and (max-width: 375px) { //iphone 6
		height: 75px;
	}

	@media screen and (min-width: 0) and (max-width: 320px) { //iphone 5
		height: 65px;
	}

	&.title {
		&-sobre{
			background-image: url('../images/bg_sobre.png');

			@media screen and (max-width: 767px) {
				background-image: url('../images/bg_sobre-mobile.png');
			}
		}

		&-dibandeja{
			background-image: url('../images/bg_dibandeja_interna.png');

			@media screen and (max-width: 767px) {
				background-image: url('../images/bg_dibandeja_interna-mobile.png');
			}
		}

		&-pf{
			background-image: url('../images/bg_paraasuacasa.png');

			@media screen and (max-width: 767px) {
				background-image: url('../images/bg_paraasuacasa-mobile.png');
			}
		}

		&-pj{
			background-image: url('../images/bg_paraoseunegocio.png');

			@media screen and (max-width: 767px) {
				background-image: url('../images/bg_paraoseunegocio-mobile.png');
			}
		}

		&-parceiro{
			background-image: url('../images/bg_parceirocolaborador.png');

			@media screen and (max-width: 767px) {
				background-image: url('../images/bg_parceirocolaborador-mobile.png');
			}
		}

		&-fornecedor {
			background-image: url('../images/bg_sejaumfornecedor.png');

			@media screen and (max-width: 767px) {
				background-image: url('../images/bg_sejaumfornecedor-mobile.png');
			}
		}
	}
}


.bt_red_veja{
	background: url('../images/bt_red_veja.png') no-repeat;
	width: 210px;
	height: 46px;
	position: relative;
	display: block;
	margin: 30px 0 0 10px;

	@media screen and (max-width: 767px) {
		padding-left: 0;
		margin: 30px auto 0;
	}

	&.bt_red_veja_after{

		&:after{
			content: url('../images/ico_chave.png');
			width: 247px;
			height: 17px;
			position: absolute;
			top: -30px;
			left: -22px;
		}

	}

}

.bt_red_solicite{
	background: url('../images/bt_red_solicite.png') no-repeat;
	width: 210px;
	height: 46px;
	position: relative;
	display: block;
	margin: 30px 50px 0 0;
	float: right;

	@media screen and (max-width: 767px) {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	&.bt_red_solicite_after{

		&:after{
			content: url('../images/ico_chave.png');
			width: 247px;
			height: 17px;
			position: absolute;
			top: -30px;
			left: -22px;

		}

		&:before{
			content: 'di casa';
			font-size: 54px;
			color: #bf1e2e;
			text-transform: uppercase;
			position: absolute;
			top: -95px;
			left: 20px;
		}
	}
}