*{
	list-style: none;
}

body{
	font-family: 'Abel', Arial, sans-serif;
}

.breadcrumb{
	background-color: transparent;

	ul{
		padding: 0;

		li{
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			color: #293666;

			a{
				color: #6f6f6f;
			}
		}

	}
}
.header_interna{
	.title_sobre{
		height: 183px;
		background:url('../images/bg_sobre.png') no-repeat;
		width: 100%;
		background-position: top center;
	}
	.title_dibandeja{
		height: 183px;
		background:url('../images/bg_dibandeja_interna.png') no-repeat;
		width: 100%;
		background-position: top center;
	}
}


.bt_red_veja{
	background: url('../images/bt_red_veja.png') no-repeat;
	width: 210px;
	height: 46px;
	position: relative;
	display: block;
	margin: 30px 0 0 10px;

	&.bt_red_veja_after{

		&:after{
			content: url('../images/ico_chave.png');
			width: 247px;
			height: 17px;
			position: absolute;
			top: -30px;
			left: -22px;
		}

	}

}

.bt_red_solicite{
	background: url('../images/bt_red_solicite.png') no-repeat;
	width: 210px;
	height: 46px;
	position: relative;
	display: block;
	margin: 30px 50px 0 0;
	float: right;

	&.bt_red_solicite_after{

		&:after{
			content: url('../images/ico_chave.png');
			width: 247px;
			height: 17px;
			position: absolute;
			top: -30px;
			left: -22px;

		}

		&:before{
			content: 'di casa';
			font-size: 54px;
			color: #bf1e2e;
			text-transform: uppercase;
			position: absolute;
			top: -95px;
			left: 20px;
		}
	}
}