.interna-dibandeja{
	position: relative;

	&.content{
		@media screen and (max-width: 767px) {
			text-align: center;
		}

		.container{
			padding: 0 30px;

			@media screen and (max-width: 767px) {
				padding: 0 10px;
			}
		}

		.content_infos{
			position: relative;
			margin-top: 20px;
			margin-left: -28px;

			@media screen and (max-width: 767px) {
				margin-left: 0;
			}

			.container{
				padding: 0;
			

				.infos_right{
					top: -8px;
				}

			}
		}
	}

	&-image {
		max-width: 100%;
	}

	&-column {
		@media screen and (max-width: 767px) {
			padding-right: 0;
			padding-left: 0;
			margin-bottom: 20px;
			display: inline-block;
		}
	}
}