.load {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1050;
	display: none;

	&:before {
		background: url('../../images/loading.gif') no-repeat;
		width: 32px;
		height: 32px;
		display: inline-block;
		content: "";
		position: fixed;
		left: 50%;
		top: 50%;
		margin: -16px 0 0 -16px;
	}
}

.distribuidores-nota-container {
	margin-bottom: 10px;
}

.ingredientes-revisoes {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 5px;

	&-item {
		background-color: #f5e7e7;
		padding: 10px;
		margin: 0 0 10px;

		del.diffmod, del.diffdel {
			color: red;
			background: #fdd;
			text-decoration: line-through;
		}

		ins.diffmod, ins.diffins {
			color: green;
			background: #dfd;
			text-decoration: none;
		}
	}
}

.fornecedores-acrescentar {
	background-color: transparent;
	border: 0 none;
}

.menu {
	&-caption {
		text-align: center;
		font-size: 16px;
	}

	&-create {
		&-slider {
			width: 100%;
			height: 100%;
			position: relative;
		}

		&-table {
			width: ~"calc(100% + 20px)";
			margin: 0 0 0 -10px;

			td, th {
				padding: 10px;
			}

			&-container {
				display: inline-block;
				width: 100%;
				padding: 0 60px;
			}

			&-header {
				.form-group {
					margin-right: 10px;
				}
			}
		}

		&-buttons {
			position: absolute;
			top: 45%;
			background-color: transparent;
			border: 0;
			outline: 0;
		}

		&-button {
			&-prev {
				left: 0;
			}

			&-next {
				right: 0;
			}
		}

		&-header {
			padding: 0 60px 20px ;
		}

		&-footer {
			margin: 0 60px 0;

			&-buttons {
				margin-top: 7px;
			}
		}
	}
}

#register-menu {
	.modal {
		&-dialog {
			width: 95%;
			height: 90%;
		}

		&-content {
			height: 100%;
			overflow: hidden;
			padding: 10px;

			form {
				height: 85%;
				width: 100%;
				padding: 0;
			}
		}
	}

	.pp-section {
		background-color: #fff;
	}
}