.distribuidores-nota-container {
	margin-bottom: 10px;
}

.ingredientes-revisoes {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 5px;

	&-item {
		background-color: #f5e7e7;
		padding: 10px;
		margin: 0 0 10px;

		del.diffmod, del.diffdel {
			color: red;
			background: #fdd;
			text-decoration: line-through;
		}

		ins.diffmod, ins.diffins {
			color: green;
			background: #dfd;
			text-decoration: none;
		}
	}
}

.fornecedores-acrescentar {
	background-color: transparent;
	border: 0 none;
}