.content_form {
  position: relative;
  margin-bottom: 145px; }
  .content_form .form_sobre label {
    width: 100%; }
  .content_form .form_sobre select {
    width: 100%;
    border-left: 3px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 3px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 40px;
    background-color: #fff; }
  .content_form .form_sobre textarea {
    width: 100%;
    height: 265px;
    border-left: 3px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 3px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  .content_form .form_sobre #enviar {
    float: right;
    width: 120px;
    height: 40px;
    background-color: #d8a52b;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
