#interna_dibandeja {
  position: relative; }
  #interna_dibandeja.content .container {
    padding: 0 30px; }
  #interna_dibandeja.content .content_infos {
    position: relative;
    margin-top: 40px; }
    #interna_dibandeja.content .content_infos .container {
      padding: 0; }
      #interna_dibandeja.content .content_infos .container .infos_right {
        top: -8px; }
